<!DOCTYPE html>
<html>
   <body>
   
      <h3></h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
        <label for = "runlocation">Location</label><p>
        <input type = "text" name = "runlocation" placeholder = "Location of run" /><p>
        <input type = "submit" value = "Submit" /><p>
    </form>

   </body>
</html>