<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('options_location.location_options') }}"></a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Run locations (<a href = "{{ url_for('data_location.location_data') }}">See all run locations
      </a>)</h3>
		
      <h3>Record a new location (<a href = "{{ url_for('new_location.location_new') }}">Add new run location
         </a>)</h3>
      
   </body>
</html>