<!DOCTYPE html>
<html>
   <body>
   
      <h3>Runs</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
        <label for = "typeofrun">Type</label><br>
        <select name='typeofrun'>
         {% for type in Runtype %}
         <option value={{type.id}}>{{type.description}}</option>
       {% endfor %}
         </select><br>
        <label for = "length">Length (Kilometers)</label><br>
        <input type = "number" name = "length" placeholder = "Length" /><br>
        <label for = "location">Location</label><br>
        <select name='location'>
         {% for location in Runlocation %}
         <option value={{location.id}}>{{location.description}}</option>
       {% endfor %}
         </select><br>
        <label for = "time">Time (Minutes)</label><br>
        <input type = "number" name = "time" placeholder = "Time" /><br>
        <input type = "submit" value = "Submit" />
     </form>
   </body>
</html>