<!DOCTYPE html>

<html lang = "en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=2";
       >
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
   <body>
      
      <div class="col-sm-12 text-center" style="background-color:rgb(255, 255, 255);">
         <h1> Run Tracker</h1>
         </div>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

<div class="row">      

<div class="col-sm-3 text-center" style="background-color:rgb(245, 213, 184);">
   <h3> Running History <p></p> <a href = "{{ url_for('data_run.run_data') }}"> Click here
      </a></h3>
   </div>
		
<div class="col-sm-3 text-center" style="background-color:rgb(191, 238, 164);">
      <h3>New Run <p></p><a href = "{{ url_for('new_run.run_new') }}"> Click here
         </a></h3>
      </div>

<div class="col-sm-6 text-center" style="background-color:rgb(190, 217, 252);">
   <h3>Most Recent Activity</h3>
         <table class="table table-hover">
         <thead>
             <tr>
                 <th>Type</th>
                 <th>Date</th>
                 <th>Length (km)</th>
                 <th>Time (min)</th>
                 <th>Location </th>
                 <th>Shoe </th>
             </tr>
         </thead>
         <tbody class="text-center">
         {% for row in recent| batch(1) %}
            {% include "run_recent.html" %}
        {% endfor %}
         </tbody>
         </table>

         
</div>

<div class="row">      

   <div class="col-sm-4 text-center" style="background-color:rgb(245, 220, 137);">
      <h3> View and edit run types <p></p> <a href = "{{ url_for('options_type.type_options') }}"> Click here
         </a></h3>
      </div>
         
   <div class="col-sm-4 text-center" style="background-color:rgb(247, 195, 211);">
         <h3>View and edit run locations <p></p><a href = "{{ url_for('options_location.location_options') }}"> Click here
            </a></h3>
         </div>

   <div class="col-sm-4 text-center" style="background-color:rgb(207, 243, 210);">
            <h3>View and edit running shoes <p></p><a href = "{{ url_for('options_shoe.shoe_options') }}"> Click here
               </a></h3>
            </div>
   
            
   </div>

<div class="btn">
   <a href = "{{ url_for('auth.logout') }}"> Logout
      </a>
   </div>
   
</html>