<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all_runtype') }}">Run Types</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Run types (<a href = "{{ url_for('runtypedata') }}">See all run types
      </a>)</h3>
		
      <h3>Record a new type (<a href = "{{ url_for('runtypenew') }}">Add new run type
         </a>)</h3>
      
   </body>
</html>