<!DOCTYPE html>
<html>
   <body>
   
      <h3>Runtype</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
        <label for = "runtype">Type</label><br>
        <input type = "text" name = "runtype" placeholder = "Type of run" /><br>
        <input type = "submit" value = "Submit" /><br>
    </form>

   </body>
</html>